<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cafetería Cleopatra</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
   <div class="my-5 py-4">
    <h1>Productos y Carta</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto ratione maxime unde, ad ea, modi autem voluptate consequatur rem adipisci ipsum a asperiores itaque accusamus ipsam dolorum! Atque, cupiditate soluta?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit velit atque minima praesentium voluptatum suscipit cupiditate alias minus delectus aliquam similique dolores inventore, nesciunt vero, vel asperiores id impedit in.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam in officia omnis voluptate voluptatibus ullam, quod est id enim excepturi unde laudantium, saepe sed corporis expedita. Voluptatem nihil unde consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ratione dolor nostrum ipsam consequatur voluptatem rerum. Sint dignissimos eum error harum sapiente assumenda esse, similique earum quas, veritatis accusantium aut!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, voluptas natus asperiores facilis voluptatum molestias! Consequuntur odio eos veniam nobis, obcaecati delectus non quibusdam architecto voluptatibus, quasi eveniet nemo est.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla enim quaerat repellat fuga officia corporis aliquam ullam dolore? Fugiat, quis commodi. Labore quia fugit autem id fugiat iste quas optio.</p>
   </div>
    
    
  
</body>

</html>